<div class="container">

  <div class="product">
    <div class="img-container">
      <img
        src="https://prod-api.mediaexpert.pl/api/images/gallery_500_500/thumbnails/images/25/2536366/Obudowa-PC-KRUX-Astra-front.jpg">
    </div>
    <div class="product-info">
      <div class="product-content">
        <h1>{{product?.name}}</h1>
        <p>Ten model sprawi, że osiągniesz maksimum fps-ów na najwyższych ustawieniach</p>
        <ul>
          <li>Chłodzenie CPU</li>
          <li>Dysk SSD</li>
          <li>Karta graficzna</li>
        </ul>
        <div class="buttons">
          <a class="button buy" href="#">Kup</a>
          <a class="button add" href="#">Koszyk</a>
          <span class="button" id="price">{{product?.price + currency}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
